name: Generate Snake

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Generate GitHub Contribution Grid Snake
        uses: Platane/snk@v3
        with:
          github_user_name: anandtalawar13
          outputs: dist/snake.svg

      - name: Push to output branch
        uses: actions/upload-artifact@v3
        with:
          name: snake-svg
          path: dist/snake.svg
